html {
    scroll-behavior: smooth;
}

/* General */
* {
    padding: 0;
    margin: 0;
}

body {
    background: rgb(254, 251, 247);
    font-family: Quicksand, Arial;
}

p {
    font: 16px/1.5 "Fira Code", Arial;
}

.container {
    max-width: 100%;
    padding: 0 32px 32px 32px;
    /* top right bottom left */
}

.background-img {
    background-image: url(assets/imgs/background.png);
}

h1 {
    padding-top: 76px;
    font-weight: 500;
    font-size: 36px;
}


/* Header */
.header {
    background: #fff5f8;
    position: fixed;
    top: 0;
    padding: 16px 32px 8px 32px;
    height: 64px;
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.header-logo {
    height: 60px;
    margin-right: 32px;
}

.navigation {
    display: flex;
    height: 24px;
    align-items: center;
}

.navigation a {
    display: inline-block;
    color: #c35a80;
    font-weight: 550;
    margin-right: 16px;
    text-decoration: none;

    /* underline */
    background-image: linear-gradient(#ffd6e5 0%, #ffd6e5 100%);
    border-radius: 8px 8px 0 0;
    background-repeat: no-repeat;
    background-size: 100% 0.25em;
    padding-right: 12px;
    padding-left: 12px;
    background-position: 0px 100%;
    transition: background-size 0.2s ease-in;
}

.navigation a:hover {
    /* background-color: #ffd6e5; */
    background-size: 100% 100%;
}

/* hover transition */
.header-logo .navigation a,
.contact-info img {
    transition: 0.15s;
}

/* contacts */
.contact-info {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    /* overflow: hidden; */
}

.contact-info img {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    margin-left: 16px;
    height: 24px;
    /* width: 24px; */
    filter: invert(72%) sepia(30%) saturate(5729%) hue-rotate(299deg) brightness(79%) contrast(92%);
}

.contact-info img:hover {
    /* filter: invert(88%) sepia(51%) saturate(1537%) hue-rotate(287deg) brightness(118%) contrast(111%); */
    transform: scale(1.25)
}

/* Projects */
.project {
    display: flex;
    flex: 1;
    column-gap: 32px;
    row-gap: 32px;
    justify-content: space-between;
}

.project img {
    width: 100%;
    /* height: 300px; */
}

.project h4 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.project-des {
    font-size: 16px;
    font-weight: 400;
}